@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';

.app {
  background: var(--bg-color);
  min-height: 100vh;
  color: var(--primary-color);
  font: var(--font-m);
}

.content-page {
  display: flex;
}

.page-wrapper {
  padding: 20px;
}
