.Code {
  position: relative;
  border: 1px solid var(--inverted-bg-color);
  overflow: auto;
  pre {
    background-color: var(--code-color) !important;
  }
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copySvg {
  fill: var(--inverted-secondary-color);
  &:hover {
    fill: var(--hover-color);
  }
}
