.wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  background: none;
  outline: none;
  border-radius: 4px;
  color: var(--primary-color);
  &:hover {
    border-color: var(--hover-color);
  }
}

.option {
  padding: 10px;
  background-color: var(--bg-color);
}
