.app.dark {
  --bg-color: #1a1a1a;
  --inverted-bg-color: #5c5c5c;

  --primary-color: #e4e4e4;
  --secondary-color: #adadad;
  --inverted-primary-color: #adadad;
  --inverted-secondary-color: #e4e4e4;
}
