.app_dark_theme {
  --bg-color: #1a1a1a;
  --inverted-bg-color: #5c5c5c;

  --primary-color: #e4e4e4;
  --secondary-color: #adadad;
  --inverted-primary-color: #adadad;
  --inverted-secondary-color: #e4e4e4;

  --skeleton-color: #adadad;
  --skeleton-shadow: #5c5c5c;

  --code-color: #222121;
  --hover-color: #e6d600;

  --article-bg-color: #303030;
  --card-bg-color: #303030;
}
