.app_light_theme {
  --bg-color: #d3d2d2;
  --inverted-bg-color: #666565;

  --primary-color: #222222;
  --secondary-color: #535353;
  --inverted-primary-color: #e4e4e4;
  --inverted-secondary-color: #e4e4e4;

  --skeleton-color: #e4e4e4;
  --skeleton-shadow: #535353;

  --code-color: #504a4a;
  --hover-color: #6b1900;
}
