.app.light {
  --bg-color: #d3d2d2;
  --inverted-bg-color: #666565;

  --primary-color: #222222;
  --secondary-color: #535353;
  --inverted-primary-color: #e4e4e4;
  --inverted-secondary-color: #e4e4e4;
}
