.Button {
  cursor: pointer;
  position: relative;
  text-align: center;
  padding: 13px 23px;
}

.clear {
  background: none;
  border: none;
  outline: none;
}

.main {
  border: 1px solid #222222;
  border-radius: 8px;
  color: brown;
  margin: 20px;
}

.outline {
  padding: 10px 15px;
  color: var(--primary-color);
  background: none;
  border: 1px solid #222222;
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--bg-color);
}

.background-inverted {
  background-color: var(--inverted-bg-color);
  color: var(--primary-color);
  border: 1px solid var(--inverted-bg-color);
}

.square {
  padding: 0px;
}

.square.size-m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size-l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size-xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}
