.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  margin-left: auto;
  padding: 20px;
}

.main {
  margin: 20px;
}

.about {
  margin: 20px;
}
