.NavBar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  color: var(--inverted-secondary-color);
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.userСontrols {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.lang {
  color: var(--primary-color);
}
