.ProfilePageHeader {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.editBtn {
  margin-left: auto;
  margin-right: 5px;
}

.title {
  font-size: var(--font-size-xl);
  border-bottom: 1px solid;
}
