.ProfileCard {
  display: flex;
  border: 1px solid;
  flex-direction: column;
}
.data {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.input {
  height: 30px;
  width: 200px;
  padding-left: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: border-color 1s ease;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  .input {
    border: 1px solid;
    border-color: var(--hover-color);
  }
}

.text,
.select {
  margin-top: 14px;
  //margin-bottom: 5px;
}

.loader {
  height: 742px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
