.ProfileCard {
  display: flex;
  border: 1px solid;
  flex-direction: column;
}
.data {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 100px;
}

.input {
  height: 30px;
  width: 200px;
  margin-top: 10px;
  border: none;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.avatarWrapper {
  display: flex;
  justify-content: center;
}

.editing {
  .input {
    border: 1px solid;
    border-radius: 4px;
  }
}
