.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  justify-content: end;
  margin: 16px;
}

.input {
  width: 300px;
  padding: 4px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  &:hover {
    border-color: var(--hover-color);
  }
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color);
}
